

body{
    margin: 0;
}

.nav{
    height: 5vh;
    background-color: #393632;
    text-align: center;
}

.nav-content > a{
    color: white;
    font-family: Poppins, serif;
    text-decoration: none;
    
}

.nav-content > a:hover{
    opacity: 0.6;
    transition: 0.2s; 
}

.appleIcon{
    display: block;
}

.nav-content{
    display: flex;
    justify-content: space-around;
    margin: 0 350px 0 350px;
    align-items: center;
}